body {
  margin: 0;
  background: #343434;
}

main {
  color:#B9D2D2
}

nav {
  background: #055E68;
  color: #B9D2D2;
}

#navLinks > *:hover {
  color: #62A388;
}

.titleFont {
  font-family: 'Titillium Web', sans-serif;
}

.mainFont {
  font-family: 'Montserrat', sans-serif;
}

.card {
  background: #62A388;
  color: black;
}

.button {
  background: #B9D2D2;
  color: black;
}

.button:hover {
  background: #62A388;
}

.deleteButton {
  background: #ef5350;
  color: black;
  
}

.deleteButton:hover {
  background: #e53935;
}
